html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Darker Grotesque', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Rubik Dirt', cursive;
    background-image: url("../images/kantor.jpg");

}

.form {
    max-width: 700px;
    margin: 100px auto;
    padding: 20px;
}

.form__legend {
    background-color: rgb(95, 149, 231);
    border-radius: 5px;
    color: azure;
    font-size: 30px;
    border: 1px solid rgb(46, 103, 189);
}

.form__labelText {
    width: 100%;
    max-width: 150px;
    display: inline-block;
    margin-right: 10px;
}

.form__field {
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    border: 1px solid rgb(46, 103, 189);
    background-color: rgb(214, 231, 255);
}

.form__fieldset {
    border-radius: 10px;
    border: 1px solid rgb(106, 158, 236);
    background-color: #044ea1f5;


}

.form__select {
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    border: 1px solid rgb(46, 103, 189);
    background-color: rgb(214, 231, 255);
}

.form__button {
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    width: 307px;
    border: 1px solid rgb(46, 103, 189);
    background-color: rgb(4, 43, 150);
    color: white;
}

.form__course {
    margin-right: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.form__button:hover {
    background-color: rgb(6, 82, 182);
}